.breadcrumb {
    background-color: #f2f2f2;
    padding: 10px;           
}
/* .breadcrumb ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
} */
.breadcrumb a {
    color: #666;
    text-decoration: none;
}



 .breadcrumb li {
    display: inline; 
  }

.breadcrumb li:not(:last-child):after {
    content: "/";
    margin: 0 5px;
  }

  .breadcrumb ul li {
    display: inline-block;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 14px;
}